<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professors - University Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/persian-datepicker/1.2.0/css/persian-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/persian-datepicker/1.2.0/js/persian-datepicker.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .select {
            width: 200px; /* اندازهٔ دلخواه برای باکس سلکت */
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: inline-block;
            width: 150px; /* عرض برچسب */
            text-align: right;
            margin-right: 10px; /* فاصله بین برچسب و ورودی */
        }

        
        .form-group select {
            width: 208px; /* عرض ورودی‌ها و باکس سلکت */
        }
        .form-group input{
            width:200px
        }
        .form-group1 {
            margin-bottom: 15px;
        }

        .form-group1 label {
            display: inline-block;
            width: 150px; /* عرض برچسب */
            text-align: right;
            margin-right: 10px; /* فاصله بین برچسب و ورودی */
        }
        .form-group1 select {
            width: 50px; /* عرض ورودی‌ها و باکس سلکت */
        }
        .form-group1 input {
            width : 150px;
        }

        .serial-inputs {
            display: inline-flex;
            align-items: center;
        }

        .serial-inputs input {
            width: 50px; /* عرض کوچکتر برای هر بخش از سریال شناسنامه */
            margin-left: 5px;
        }

        .serial-inputs span {
            margin-left: 5px;
        }
        

        .error-message {
            color: red;
        }
        #landline {
        font-size: 15px; /* اندازه فونت */
        width: 145px; /* عرض */
        }

    </style>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>University Management</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/students">Students</a></li>
                    <li><a href="/professors">Professors</a></li>
                    <li><a href="/courses">Courses</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <script>
        function validateForm() {
            var pf_id= document.getElementById("pf_id").value;
            var postal_code = document.getElementById("postal_code").value;
            var phone_number = document.getElementById("phone_number").value;
            var national_id = document.getElementById("national_id").value;

            var errorField1 = document.getElementById("error-message1");
            var errorField2 = document.getElementById("error-message2");
            var errorField3 = document.getElementById("error-message3");
            var errorField4 = document.getElementById("error-message4");

            var valid = true;

            if (pf_id.length !== 6) {
                errorField1.innerHTML = "کد استاد باید 6 رقم باشد";
                valid = false;
            } else {
                errorField1.innerHTML = "";
            }

            if (postal_code.length !== 10) {
                errorField2.innerHTML = "کد پستی باید 10 رقم باشد.";
                valid = false;
            } else {
                errorField2.innerHTML = "";
            }

            if (phone_number.length !== 11) {
                errorField3.innerHTML = "شماره تلفن باید 11 رقم باشد.";
                valid = false;
            } else {
                errorField3.innerHTML = "";
            }

            if (national_id.length !== 10) {
                errorField4.innerHTML = "کد ملی باید 10 رقم باشد.";
                valid = false;
            } else {
                errorField4.innerHTML = "";
            }

            return valid;
        }
        function updateMajors() {
            const college = document.getElementById("college").value;
            const majorDropdown = document.getElementById("major");

            const majors = {
                "فنی و مهندسی": ["مهندسی برق", "مهندسی کامپیوتر", "مهندسی عمران", "مهندسی مکانیک"],
                "علوم پایه": ["ریاضیات", "فیزیک", "شیمی", "زیست‌شناسی"],
                "دامپزشکی": ["دامپزشکی عمومی", "تخصصی"],
                "ادبیات و اقتصاد": ["ادبیات فارسی", "علوم اقتصادی", "مدیریت"]
            };

            // Clear existing options
            majorDropdown.innerHTML = "";

            // Populate with options based on selected college
            if (college && majors[college]) {
                majors[college].forEach(function(maj) {
                    const option = document.createElement("option");
                    option.value = maj;
                    option.text = maj;
                    majorDropdown.add(option);
                });
            }
        }
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('college').addEventListener('change', updateMajors);
        });
        function updateCourses() {
            var major = document.getElementById("major").value;
            var courseSelect = document.getElementById("course_ids");
            var courses = {
                "مهندسی کامپیوتر": [
                    {value: "code1", text: "درس ۱ کامپیوتر"},
                    {value: "code2", text: "درس ۲ کامپیوتر"}
                ],
                "مهندسی برق": [
                    {value: "code3", text: "درس ۱ برق"},
                    {value: "code4", text: "درس ۲ برق"}
                ],
                "مهندسی مکانیک": [
                    {value: "code5", text: "درس ۱ مکانیک"},
                    {value: "code6", text: "درس ۲ مکانیک"}
                ],
                "مهندسی عمران": [
                    {value: "code7", text: "درس ۱ عمران"},
                    {value: "code8", text: "درس ۲ عمران"}
                ],
                "ریاضیات": [
                    {value: "code9", text: "درس ۱ ریاضیات"},
                    {value: "code10", text: "درس ۲ ریاضیات"}
                ],
                "فیزیک": [
                    {value: "code11", text: "درس ۱ فیزیک"},
                    {value: "code12", text: "درس ۲ فیزیک"}
                ],
                "شیمی": [
                    {value: "code13", text: "درس ۱ شیمی"},
                    {value: "code14", text: "درس ۲ شیمی"}
                ],
                "زیست‌شناسی": [
                    {value: "code15", text: "درس ۱ زیست‌شناسی"},
                    {value: "code16", text: "درس ۲ زیست‌شناسی"}
                ],
                "دامپزشکی عمومی": [
                    {value: "code17", text: "درس ۱ دامپزشکی عمومی"},
                    {value: "code18", text: "درس ۲ دامپزشکی عمومی"}
                ],
                "تخصصی": [
                    {value: "code19", text: "درس ۱ تخصصی"},
                    {value: "code20", text: "درس ۲ تخصصی"}
                ],
                "ادبیات فارسی": [
                    {value: "code21", text: "درس ۱ ادبیات فارسی"},
                    {value: "code22", text: "درس ۲ ادبیات فارسی"}
                ],
                "علوم اقتصادی": [
                    {value: "code23", text: "درس ۱ علوم اقتصادی"},
                    {value: "code24", text: "درس ۲ علوم اقتصادی"}
                ],
                "مدیریت": [
                    {value: "code25", text: "درس ۱ مدیریت"},
                    {value: "code26", text: "درس ۲ مدیریت"}
                ]
            };

            // Clear current options
            courseSelect.innerHTML = "";

            // Add new options
            courses[major].forEach(function(course) {
                var option = document.createElement("option");
                option.value = course.value;
                option.text = course.text;
                courseSelect.add(option);
            });
        }
    </script>
    <div class="container">
        <h1>Professors</h1>
        <div class="container">
            <h2>ثبت اطلاعات اساتید</h2>
            <form action="/submit_professors_info" method="POST" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="pf_id">کد استاد:</label>
                    <input type="text" id="pf_id" name="professors_id" required autocomplete="off" maxlength="6">
                    <div id="error-message1" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="f_name">نام:</label>
                    <input type="text" id="f_name" name="first_name" required autocomplete="off" maxlength="10">
                </div>
                <div class="form-group">
                    <label for="l_name">نام خانوادگی:</label>
                    <input type="text" id="l_name" name="last_name" required autocomplete="off" maxlength="10">
                </div>
                <div class="form-group">
                    <label for="birth_date">تاریخ تولد:</label>
                    <div class="serial-inputs">
                        <input type="text" id="b1" name="b1" required autocomplete="off" maxlength="4" placeholder="سال">
                        <span>/</span>
                        <input type="text" id="b2" name="b2" required autocomplete="off" maxlength="2" placeholder="ماه">
                        <span>/</span>
                        <input type="text" id="b3" name="b3" required autocomplete="off" maxlength="2" placeholder="روز">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city_of_birth">شهر تولد:</label>
                    <select id="city_of_birth" name="city_of_birth" required autocomplete="off">
                        <option value="" disabled selected>انتخاب کنید</option>
                        <option value="آبادان">آبادان</option>
                        <option value="اراک">اراک</option>
                        <option value="اصفهان">اصفهان</option>
                        <option value="اهواز">اهواز</option>
                        <option value="ایلام">ایلام</option>
                        <option value="بابل">بابل</option>
                        <option value="بجنورد">بجنورد</option>
                        <option value="بندرعباس">بندرعباس</option>
                        <option value="بندرانزلی">بندرانزلی</option>
                        <option value="بوشهر">بوشهر</option>
                        <option value="پارس‌آباد">پارس‌آباد</option>
                        <option value="پارسیان">پارسیان</option>
                        <option value="پلدختر">پلدختر</option>
                        <option value="پیشوا">پیشوا</option>
                        <option value="تبریز">تبریز</option>
                        <option value="تهران">تهران</option>
                        <option value="جیرفت">جیرفت</option>
                        <option value="خرم‌آباد">خرم‌آباد</option>
                        <option value="رشت">رشت</option>
                        <option value="زاهدان">زاهدان</option>
                        <option value="زنجان">زنجان</option>
                        <option value="ساوه">ساوه</option>
                        <option value="سنندج">سنندج</option>
                        <option value="سبزوار">سبزوار</option>
                        <option value="سمنان">سمنان</option>
                        <option value="شهرکرد">شهرکرد</option>
                        <option value="شیراز">شیراز</option>
                        <option value="قزوین">قزوین</option>
                        <option value="قم">قم</option>
                        <option value="کرج">کرج</option>
                        <option value="کرمان">کرمان</option>
                        <option value="کرمانشاه">کرمانشاه</option>
                        <option value="کاشان">کاشان</option>
                        <option value="کاشمر">کاشمر</option>
                        <option value="گرگان">گرگان</option>
                        <option value="گلستان">گلستان</option>
                        <option value="مازندران">مازندران</option>
                        <option value="مشهد">مشهد</option>
                        <option value="مهران">مهران</option>
                        <option value="مهریز">مهریز</option>
                        <option value="میبد">میبد</option>
                        <option value="نی‌ریز">نی‌ریز</option>
                        <option value="نجف‌آباد">نجف‌آباد</option>
                        <option value="نهران">نهران</option>
                        <option value="نیشابور">نیشابور</option>
                        <option value="همدان">همدان</option>
                        <option value="یاسوج">یاسوج</option>
                        <option value="یزد">یزد</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">آدرس:</label>
                    <input type="text" id="address" name="address" required autocomplete="off" maxlength="100" >
                </div>
                <div class="form-group">
                    <label for="postal_code">کد پستی:</label>
                    <input type="text" id="postal_code" name="postal_code" required autocomplete="off" maxlength="10">
                    <div id="error-message2" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="phone_number">تلفن همراه:</label>
                    <input type="text" id="phone_number" name="phone_number" required autocomplete="off" maxlength="11">
                    <div id="error-message3" class="error-message"></div>
                </div>
                <div class="form-group1">
                    <label for="landline">تلفن ثابت:</label>
                    <div class="serial-inputs">
                        <select id="landline_code" name="landline_code" class="select" required autocomplete="off">
                            <option value="" disabled selected>کد</option>
                            <option value="011">011 - ساری</option>
                            <option value="013">013 - رشت</option>
                            <option value="017">017 - گرگان</option>
                            <option value="021">021 - تهران</option>
                            <option value="023">023 - سمنان</option>
                            <option value="024">024 - زنجان</option>
                            <option value="025">025 - قم</option>
                            <option value="026">026 - کرج</option>
                            <option value="028">028 - قزوین</option>
                            <option value="031">031 - اصفهان</option>
                            <option value="034">034 - کرمان</option>
                            <option value="035">035 - یزد</option>
                            <option value="038">038 - شهرکرد</option>
                            <option value="041">041 - تبریز</option>
                            <option value="044">044 - ارومیه</option>
                            <option value="045">045 - اردبیل</option>
                            <option value="054">054 - زاهدان</option>
                            <option value="056">056 - بجنورد</option>
                            <option value="058">058 - بیرجند</option>
                            <option value="061">061 - اهواز</option>
                            <option value="066">066 - لرستان</option>
                            <option value="071">071 - شیراز</option>
                            <option value="074">074 - کهگیلویه و بویراحمد</option>
                            <option value="076">076 - بندرعباس</option>
                            <option value="077">077 - بوشهر</option>
                            <option value="081">081 - همدان</option>
                            <option value="083">083 - کرمانشاه</option>
                            <option value="084">084 - ایلام</option>
                            <option value="086">086 - اراک</option>
                            <option value="087">087 - سنندج</option>
                                                    
                        </select>
                        <input type="text" id="landline" name="landline" required autocomplete="off" maxlength="8" placeholder="شماره" width="20px" maxlength="8">
                    </div>
                </div>
                <div class="form-group">
                    <label for="national_id">کد ملی:</label>
                    <input type="text" id="national_id" name="national_id" required autocomplete="off" maxlength="10">
                    <div id="error-message4" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="college">دانشکده:</label>
                    <select id="college" name="college" required>
                        <option value="" disabled selected>انتخاب کنید</option>
                        <option value="فنی و مهندسی">فنی و مهندسی</option>
                        <option value="علوم پایه">علوم پایه</option>
                        <option value="دامپزشکی">دامپزشکی</option>
                        <option value="ادبیات و اقتصاد">ادبیات و اقتصاد</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="major">رشته تحصیلی:</label>
                    <select id="major" name="major" required onchange="updateCourses()">
                        <option value="" disabled selected aria-autocomplete="none">انتخاب کنید</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="marital_status">وضعیت تاهل:</label>
                    <select id="marital_status" name="marital_status" required>
                        <option value="مجرد">مجرد</option>
                        <option value="متاهل">متاهل</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="course_ids">دروس:</label>
                    <select id="course_ids" name="course_ids" required>
                        <option value="" disabled selected aria-autocomplete="none">انتخاب کنید</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="professor_courses">کد دروس:</label>
                    <select>
                        <option value="code_course1">درس1</option>
                        <option value="code_course2">درس2</option>
                        <option value="code_course3">درس3</option>
                        <option value="code_course4">درس4</option>
                        <option value="code_course5">درس5</option>

                    </select>
                </div>
                <div class="form-group">
                    <button type="submit">ثبت</button>
                </div>
            </form>
            <script>
                $(document).ready(function() {
                    $("#birth_date").persianDatepicker({
                        format: 'YYYY/MM/DD'
                    });
                    updateCourses(); 
                });
            </script>
        </div>
    </div>
</body>
</html>